ca_host_key merge=ours
ca_host_key.pub merge=ours
ca_user_key merge=ours
ca_user_key.pub merge=ours
known_hosts merge=ours
set_host.yaml merge=ours
git/backup/build.sh merge=ours
git/config.yaml merge=ours
git/config/git/gitconfig merge=ours
git/git/build.sh merge=ours
git/ssh/build.sh merge=ours
logging/beats/setup/credentials.yaml merge=ours
logging/beats/setup/set_registry.yaml merge=ours
logging/elasticsearch/credentials.yaml merge=ours
logging/elasticsearch/elasticsearch-ca.pem merge=ours
logging/elasticsearch/elastic-stack-ca.p12 merge=ours
logging/elasticsearch/set_dns.yaml merge=ours
logging/elasticsearch/set_registry.yaml merge=ours
logging/elasticsearch/tls-init/build.sh merge=ours
logging/kibana/credentials.yaml merge=ours
logging/kibana/set_registry.yaml merge=ours
logging/logstash/credentials.yaml merge=ours
logging/logstash/set_registry.yaml merge=ours
logging/set_ingress_host.yaml merge=ours
logging/set_ingress_https_host.yaml merge=ours
monitoring/set_host.yaml merge=ours
util/api/build.sh merge=ours
youtrack/config.yaml merge=ours
